@import './theme/reset';
@import './theme/variables';
@import './theme/layout';
@import './theme/buttons';
@import './theme/form';
@import './theme/loader';
@import './theme/utils';

body {
	font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

.status {
	width: 20px;
	height: 20px;
  border-width: 2px;
	border-style: solid;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px $white-dark;
}

.float-left{
	float: left !important;
}

.float-right{
	float: right !important;
}

.float-none{
	float: none !important;
	clear: both;
}