$black: #000;
$black-light: #999;
$white: #fff;
$white-dark: #aaa;
$primary: #2780E3;
$primary-light: #73aded;
$primary-dark: #1a6dca;
$secondary: #e3e3e3;
$secondary-light: #83d06a;
$secondary-dark: #dddddd;
$success: #3FB618;
$success-light: #3FB618;
$success-dark: #339414;
$danger: #FF0039;
$danger-light: #ff5a7f;
$danger-dark: #d90030;
$info: #9954BB;
$info-light: #bd90d3;
$info-dark: #8542a7;
$warning: #FF7518;
$warning-light: #ffa66a;
$warning-dark: #f16100;