.user-form {
	.user-input-group{
		width: 360px;
		margin: 10px auto;

	}
	.user-label{
		width: 120px;
		display: inline-block;
		text-align: left;
	}

	.user-input-feedback{
		width: 200px;
		color: $danger-dark;
		display: block;
		text-align: left;
	}
}