.navbar{
	width: 100%;
  color: $white;
  background: $primary;
  margin: 0;
  padding: 10px;
  display: block;
}
.container {
	width: 80%;
	max-width: $container-max-width;
	margin: 25px auto;
}

.card {
	display: inline-block;
	width: 340.666667px;
	padding: 10px 15px;
	margin: 7px 10px;
	background: $white;
	border: 1px solid $secondary-dark;
	border-radius: 20px;
	box-shadow: 0px 2px 5px 0px $black-light;

	.card-header {
		margin: 0px auto 5px auto;
		padding: 2px 0 5px 0;
		border-bottom: 1px dotted $black;

		.card-image {
			display: inline-block;
			width: 40px;

			img {
				width: 100%;
			}
		}
		.card-name {
			display: inline-block;
			max-width: 265px;
			overflow: hidden;
			white-space: nowrap; 
			text-overflow: ellipsis;
			margin: 10px 5px 11px 5px;
		}
	}

	.card-content {
		width: 250px;
		display: inline-block;
		vertical-align: top;
	}

	.card-actions {
		width: 50px;
		display: inline-block;

		.card-action {
			cursor: pointer;
		}
	}

	.full {
		
	}
}

.dialog {
	display: none;
	min-height: 50px;
	width: 80%;
	position: fixed;
	top: 10%;
	left: 10%;
	z-index: 100;

	&.open{
		display: block;
	}
}